.wrapper__main-chat
  .wrapper__main-chat__group-info
    .group-edit
      =link_to edit_group_path(@group) ,class: "edit-btn" do
        Edit
    .group-id
      = @group.name
    .group-list-box
      %h.group-list
        Member : 
      %h.group-list-name
        - @members.each do |member|
          = member.name
  
  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('far', 'image', class: 'form-image')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'


  

        
  